@import "tailwindcss";
@plugin "tailwind-scrollbar";
body{
    font-family: var(--font-sans) , sans-serif;
}

.mono{
    font-family: var(--font-mono) , monospace;
}
.sans{
    font-family: var(--font-sans) , sans-serif;

}